[
    [
        "{{ buttonTexts.state.home.vitrin }}"
    ], 
    [
        "{{ buttonTexts.state.home.checkout }}",
        "{{ buttonTexts.state.home.information }}"
    ],
    [
        "{{ buttonTexts.state.home.about }}",
        "{{ buttonTexts.state.home.faq }}"
    ]
]