{% if entry == "first_name" %}
نام کوچکت رو وارد کن.
{% if default != null %}

مقدار حال حاضر <b>{{ default }}</b> است. اگه نمی‌خوای تغییرش بدی، روی دکمه‌ی {{ buttonTexts.state.information_questionnaire.do_not_change }} بزن.
{% elif entry == "last_name" %}
نام خانوادگی‌ات رو وارد کن.
{% if default_value != null %}

مقدار حال حاضر <b>{{ default_value }}</b> است. اگه نمی‌خوای تغییرش بدی، روی دکمه‌ی {{ buttonTexts.state.information_questionnaire.do_not_change }} بزن.
{% elif entry == "address" %}
نشانی‌ات رو وارد کن (شامل استان و شهر و پلاک و شماره‌ی واحد).
{% if default_value != null %}

مقدار حال حاضر <b>{{ default_value }}</b> است. اگه نمی‌خوای تغییرش بدی، روی دکمه‌ی {{ buttonTexts.state.information_questionnaire.do_not_change }} بزن.
{% elif entry == "zip_code" %}
کد پستی‌ات رو وارد کن.
{% if default_value != null %}

مقدار حال حاضر <b>{{ default_value }}</b> است. اگه نمی‌خوای تغییرش بدی، روی دکمه‌ی {{ buttonTexts.state.information_questionnaire.do_not_change }} بزن.
{% endif %}