{% if entry == "firstName" %}
نام کوچکت رو وارد کن.
{% if customer.firstName != null %}

مقدار حال حاضر <b>{{ customer.firstName }}</b> است. اگه نمی‌خوای تغییرش بدی، روی دکمه‌ی «{{ buttonTexts.state.information_questionnaire.do_not_change }}» بزن.
{% endif %}
{% elif entry == "lastName" %}
نام خانوادگی‌ات رو وارد کن.
{% if customer.lastName != null %}

مقدار حال حاضر <b>{{ customer.lastName }}</b> است. اگه نمی‌خوای تغییرش بدی، روی دکمه‌ی «{{ buttonTexts.state.information_questionnaire.do_not_change }}» بزن.
{% endif %}
{% elif entry == "phoneNumber" %}
شماره‌ی تلفن همراهت رو وارد کن (شروع با ۰۹).
{% if customer.phoneNumber != null %}

مقدار حال حاضر <b>{{ customer.phoneNumber }}</b> است. اگه نمی‌خوای تغییرش بدی، روی دکمه‌ی «{{ buttonTexts.state.information_questionnaire.do_not_change }}» بزن.
{% endif %}
{% elif entry == "address" %}
نشانی‌ات رو وارد کن (شامل استان و شهر و پلاک و شماره‌ی واحد).
{% if customer.address != null %}

مقدار حال حاضر <b>{{ customer.address }}</b> است. اگه نمی‌خوای تغییرش بدی، روی دکمه‌ی «{{ buttonTexts.state.information_questionnaire.do_not_change }}» بزن.
{% endif %}
{% elif entry == "zipCode" %}
کد پستی‌ات رو وارد کن.
{% if customer.zipCode != null %}

مقدار حال حاضر <b>{{ customer.zipCode }}</b> است. اگه نمی‌خوای تغییرش بدی، روی دکمه‌ی «{{ buttonTexts.state.information_questionnaire.do_not_change }}» بزن.
{% endif %}
{% endif %}