[
    {% if default_value != null %}
    [
        "{{ buttonTexts.state.information_questionnaire.do_not_change }}"
    ],
    {% endif %}
    [
        "{{ buttonTexts.state.information_questionnaire.back }}""
    ]
]