({{ currentNumber }}/{{ totalNumber }}) {{ product.fullName }}

{% if optionValues|length != 0 %}
{% for optionValue in optionValues %}{{ optionValue.option.fullName }}: {% if optionValue.value != null %}{{ optionValue.value }}{% else %}-{% endif %}

{% endfor %}
{% endif %}
بها: {{ price }} تومان

{{ product.description }}
{% if invalidOption == 'y' %}
<><>
{{ o.option.fullName }} رو یا نادرست وارد کردی و یا دیگه موجودی نداره.
{% endif %}
{% if optionSelected == 'y' %}
{% if back == 'y' %}
{% set guide = 'y' %}
{% elif erase == 'y' %}
<><>
{{ o.option.fullName }} پاک شد.
{% else %}
<><>
{{ o.option.fullName }} {{ o.value }} انتخاب شد.
{% endif %}
{% endif %}
{% if guide == 'y' %}
<><>
{% if optionValues|length == 0 %}
با دکمه‌ی «{{ buttonTexts.state.product.add_to_cart }}» کالا رو به سبد خریدت اضافه کن.

با دکمه‌های «{{ buttonTexts.state.product.previous }}» و «{{ buttonTexts.state.product.next }}» به کالاهای قبلی و بعدی برو.
{% else %}
ابتدا {% for optionValue in optionValues %}{{ optionValue.option.fullName }} کالا رو با دکمه‌ی «{{ optionValue.option.fullButton }}»{% if not loop.last %} و {% endif %}{% endfor %} انتخاب کن.

سپس با دکمه‌ی «{{ buttonTexts.state.product.add_to_cart }}» کالا رو به سبد خریدت اضافه کن.

با دکمه‌های «{{ buttonTexts.state.product.previous }}» و «{{ buttonTexts.state.product.next }}» به کالاهای قبلی و بعدی برو.
{% endif %}
{% endif %}