[
    [
        "{{ buttonTexts.state.product.add_to_cart }}"{% if alreadyHave == true %}, "{{ buttonTexts.state.product.remove_from_cart }}"{% endif %}
    ],
    {% if optionValues|length != 0 %}
    [
        {% for optionValue in optionValues %}"{{ optionValue.option.fullButton }}"{% if not loop.last %},{% endif %}{% endfor %}
    ],
    {% endif %}
    [
        "{{ buttonTexts.state.product.more_pictures }}"
    ],
    [
        "{{ buttonTexts.state.product.next }}",
        "{{ buttonTexts.state.product.previous }}"
    ],
    [
        "{{ buttonTexts.state.section.back }}"
    ]
]