{% if scenario == 'product:success' %}
{% set scenario = 'success' %}
{% include "../../state-views/product-keyboard.njk" %}
{% elif scenario == 'product:error-no-product' %}
{% set scenario = 'error-no-product' %}
{% include "../../state-views/product-keyboard.njk" %}
{% elif scenario == 'product:guide' %}
{% set scenario = 'guide' %}
{% include "../../state-views/product-keyboard.njk" %}
{% elif scenario == 'section:success' %}
{% set scenario = 'success' %}
{% include "../../state-views/section-keyboard.njk" %}
{% elif scenario == 'section:error-no-such-section' %}
{% set scenario = 'error-no-such-section' %}
{% include "../../state-views/section-keyboard.njk" %}
{% elif scenario == 'section:error-no-root-section' %}
{% include "../../state-views/home-keyboard.njk" %}
{% elif scenario == 'section:home' %}
{% include "../../state-views/home-keyboard.njk" %}
{% endif %}