{% if scenario == 'product:success' %}
{% set scenario = 'success' %}
{% include "../../state-views/product.njk" %}
{% elif scenario == 'product:error-no-product' %}
{% set scenario = 'error-no-product' %}
{% include "../../state-views/product.njk" %}
{% elif scenario == 'product:guide' %}
{% set scenario = 'guide' %}
{% include "../../state-views/product.njk" %}
{% elif scenario == 'section:success' %}
{% set scenario = 'success' %}
{% include "../../state-views/section.njk" %}
{% elif scenario == 'section:error-no-such-section' %}
{% set scenario = 'error-no-such-section' %}
{% include "../../state-views/section.njk" %}
{% elif scenario == 'section:error-no-root-section' %}
فروشگاه هنوز حاضر نیست.
{% elif scenario == 'section:home' %}
{% include "../../state-views/home.njk" %}
{% endif %}