<b>آمار لینک ریفرال {{ referral.name }} از شاپ {{ referral.shop }}</b>

کل کاربرهای ارجاعی: {{ totalCustomers }}

کل فروش‌های ارجاعی: {{ totalPurchases }}
سود کل فروش‌های ارجاعی: {{ totalFee }} تومان

فروش‌های ارجاعی اخیر: {{ currentPurchases }}
سود فروش‌های ارجاعی اخیر: {{ currentFee }} تومان