{% if scenario == 'missing-items:land' %}
{% include "../../state-views/missing-items-keyboard.njk" %}
{% elif scenario == 'checkout:land' %}
{% include "../../state-views/checkout-keyboard.njk" %}
{% endif %}