{% if scenario == 'document:land' %}
{% include "../../../state-views/information-document-keyboard.njk" %}
{% elif scenario == 'questionnaire:land' %}
{% include "../../../state-views/information-questionnaire-keyboard.njk" %}
{% endif %}