{% if scenario == 'document:land' %}
{% include "../../../state-views/information-document.njk" %}
{% elif scenario == 'questionnaire:land' %}
{% include "../../../state-views/information-questionnaire.njk" %}
{% endif %}