{% if scenario == 'error' %}
عملیات ناموفق بود.
{% elif scenario == 'done' %}
انجام شد.
{% elif scenario == 'plain' %}
{% if message == '' or message == null %}Empty{% else %}{{ message|safe }}{% endif %}
{% endif %}