{% if landOn == 'home' %}
{% include "../../state-views/home-keyboard.njk" %}
{% elif landOn == 'root-section' %}
{% include "../product-workflow/helpers/section-and-product-keyboard.njk" %}
{% endif %}